<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paycoms.cp7.api.common.mapper.ExcelMapper">
    <insert id="insertExcel" parameterType="Excel"> 
        INSERT INTO excel_data ( 
            file_key, 
            row_type, 
            row_index, 
            data_json 
        ) VALUES ( 
            #{fileKey}, 
            #{rowType}, 
            #{rowIndex}, 
            #{dataJson, typeHandler=com.paycoms.cp7.api.infrastructure.mybatis.JsonTypeHandler} 
        ) 
    </insert>

    <resultMap id="ExcelResultMap" type="Excel">
        <result property="fileKey" column="file_key"/>
        <result property="rowType" column="row_type"/>
        <result property="rowIndex" column="row_index"/>
        <result property="dataJson" column="data_json" typeHandler="com.paycoms.cp7.api.infrastructure.mybatis.JsonTypeHandler"/>
    </resultMap>

    <select id="selectExcelList" resultMap="ExcelResultMap">
        SELECT * FROM excel_data
        WHERE file_key = #{fileKey}
        ORDER BY row_index ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="selectExcelCount" resultType="int">
        SELECT COUNT(*) FROM excel_data
        WHERE file_key = #{fileKey}
    </select>
</mapper>
